@import '../../variables';

.blogPost {
  width: 100%;
  max-width: 725px;
  margin: 0 auto;

  p {
    text-indent: 0.75cm;
  }

  h2 {
    margin-top: $gap-small;
    margin-bottom: 0;
  }

  img {
    display: block;
    margin: auto;
  }

  &__date,
  &__tags {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
  }
}
