/* Viewports */
$break-mobile: 460px;
$break-small: 800px;
$break-large: 1500px;

/* Space */
$gap-small: 6px;
$gap: 14px;
$page-margin-small: 35px;
$page-margin: 50px;

/* Colours */
$font-color: rgba(0, 0, 0, 0.9);
$font-header-note: #761c76;
$font-header: #3d3208;
$font-link: #442b48;
$font-link-hover: lighten($font-link, 10%);
