/* Viewports */
$break-mobile: 460px;
$break-small: 800px;
$break-large: 1500px;

/* Space */
$gap-small: 6px;
$gap: 14px;
$page-margin-small: 35px;
$page-margin: 50px;

/* Colours */
$font-color: rgb(233, 233, 211);
